html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.form{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
}
.button{
    display: flex;
    margin-left: 20px;
}
.caixas{
    /* border-top: 2px solid #333; */
    /* border-bottom: 2px solid #333; */
    height: 100%;
    display: flex;
    /* row | row-reverse | column | column-reverse */
    /* flex-direction: row; */
    /* para quebrar os itens -> nowrap | wrap | wrap-reverse */
    flex-wrap: wrap;
    /* flex-start|flex-end|center|space-between|space-around|space-evenly */
    justify-content: center;
    /* flex-start | flex-end | center | stretch | baseline  */
    align-items: center;
}
.caixa{
    color: red;
    border: 1px solid #333;
    background-color: #ccc;
    width: 280px;
    height: 280px;
    margin: 5px;

}